html{
  background-color: rgb(36, 36, 36);
  font-family: Verdana;
  color: #17D4FE;
  text-align: center;
}

#quote{
  color: gray;
  font-style: oblique;
  font-family: Lucida Sans;
  margin-bottom: 40px;
}

#introduction{
  margin-bottom: 10px;
}

#taskList{
  list-style: none;
}

#taskInput{
  background-color: rgb(36, 36, 36);
  color: #17D4FE;
  border-style: none;
  box-shadow: 0px 0px 25px #17D4FE;
  font-size: 22px;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}